.Popup{
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-Color:white;
    padding:50px;
    z-Index:1000;
}

.Overlay{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0.9,0.9,0.9,.9);
    z-index:1000;
}

.BUTTON_STYLE{
    position:relative;
    background:linear-gradient(90deg,#e18728,#ef473a);
    color:white;
    border: radius 0.5;
    font-size:18px;
    padding:10px10px;
    border:solid1px;
    /* position: fixed; */
    /* left:15px; */
    margin: 5px;
}